<nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(123, 0, 88);">
    <div class="container">
      <a href="/" class="navbar-brand">
        <div class="fw-bold" style="color: white; font-size: 20pt; ">USPEKHA</div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
        aria-controls="navbarSupporttedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar=toggler-icon"></span>
      </button>
      <div id="navbarMain" class="navbar-collapse collapse">
        <div class="mx-auto"></div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/pasien/" class="nav-link" style="color: white; font-size: 15pt;">Pasien</a>
          </li>
          <div class="mx-auto" style="width: 20px;"></div>
          <li class="nav-item">
            <a href="/rmedis/" class="nav-link" style="color: white; font-size: 15pt;">Rekam Medis </a>
          </li>
          <div class="mx-auto" style="width: 20px;"></div>
          <li class="nav-item">
            <a href="/dokter/" class="nav-link" style="color: white; font-size: 15pt;">Dokter</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0"></div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0"></div>
          <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0"></div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
    <footer>
      <div class="row">
        <div class="col-12">
          <small>&copy; 2023 - USPEKHA</small>
        </div>
      </div>
    </footer>
  </div>
  